{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>

    <style>

    </style>
</head>

<body bgcolor="green">
    <h1 align="center">welcome</h1>
    <br>
    <img src="{% static 'images.jpg' % }" alt="">

    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam corrupti voluptas consectetur vero, cupiditate corporis molestiae atque ab dolores? Esse alias enim corporis architecto dolorum unde, placeat aspernatur temporibus.</p>
    <img src="cricket.jpg" alt="">
</body>

</html>